---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Pill from "../components/Pill.astro";
import Grid from "../components/Grid.astro";
---

<BaseLayout
  title="About | Mohammad Aditya Noviansyah"
  description="About Mohammad Aditya Noviansyah Profile"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Results-driven Software Engineer with a background in Informatics
            Engineering from Universitas Brawijaya. Received funding for an
            entrepreneurial venture in web-based laptop selection consultation
            during university. Accomplished 3rd place in the INOTEK competition
            in Kediri in 2019 and secured a scholarship from the Kediri city
            government in 2018.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="title">
            Brawijaya University - Bancelor Degree, Informatics Engineering
          </p>
          <p class="title">June 2017 - June 2021</p>
          <p>
            Upon graduating from Brawijaya University with a major in
            Informatics Engineering, I have acquired experience through active
            involvement in organizations, competitions, and my academic
            pursuits. Some notable achievements include:
          </p>
          <div class="list-point">
            <ul>
              <li>
                Publish journal recommendation laptop using AHP - TOPSIS methods
                (2021)
              </li>
              <li>
                Received funding for entrepreneurial venture from Brawijaya
                University with "Web-based laptop selection consultation."
                (2020)
              </li>
              <li>Won INOTEK competition Kediri with 3rd grade (2019)</li>
              <li>Scholarship from Kediri city government (2018)</li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Work Experince</h2>
        <div class="content">
          <p class="title">Refactory - Software Engineer</p>
          <p class="title">Dec 2022 - Dec 2023</p>
          <p>
            As software engineer, had some experience on internal project and
            also international project
          </p>
          <div class="list-point">
            <ul>
              <li>
                Develop sev-2 product for adding feature or maintenace feature
                as Product Developer
              </li>
              <li>Join dev with RecRe Located in US as fullstack developer</li>
              <li>
                Helping another team for working on apps such as: Hanoman and
                MNC
              </li>
              <li>
                Create migrating tool from mysql to postgresql in databases
                refactory.sev-2.com
              </li>
              <li>Join dev with VoxTeneo to working on studyspaces.brussels</li>
            </ul>
          </div>
        </div>

        <div class="content">
          <p class="title">Refactory - Intern Software Engineer</p>
          <p class="title">Sept 2022 - Dec 2022</p>
          <p>
            As software engineer, had some experience on internal project and
            also international project
          </p>
          <div class="list-point">
            <ul>
              <li>
                Creating feature on sev-2 like add user attribute, reusable
                component, and cv generator
              </li>
              <li>
                Join dev with symbolic id, creating feature payment for backend
                developer
              </li>
              <li>
                Initiate project GraphQL with framework Apollo GraphQL for
                improving performance of refactory.sev-2.com rest API. And for
                the result performance can be improved until 200%
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <Grid variant="pills">
          {
            ['PHP', 'JavaScript', 'Laravel', 'Apollo GraphQL', 'Phabricator', 'Django'].map((brand) => (
              <Pill>{brand}</Pill>
            ))
          }
        </Grid>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .title {
    font-size: var(--text-lg);
    color: var(--gray-0);
    font-weight: bold;
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .list-point ul {
    list-style-type: none;
    padding-left: 1em;
  }

  .list-point ul li::before {
    content: "\2022"; /* Unicode character for a black dot */
    color: var(--gray-200);
    display: inline-block;
    width: 1em; /* Adjust as needed for spacing */
    margin-left: -1em; /* Negative margin to overlap with padding */
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
